{% extends 'base.html' %}

{% block content %}
<div class="p-3">
    <div class="container">
        <div class="row mt-3">
            <div class="col mx-auto mb-3">
                <h2>Report Review</h2>
                <hr />
                <form method="POST" action="{% url 'movies.report_review' id=template_data.movie.id review_id=template_data.review.id %}">
                    {% csrf_token %}
                    <p>
                        <label for="reason">Enter in reason, whether it be irrelevant, spamming, or inappropriate content:</label>
                        <textarea name="reason" required class="form-control" id="reason">
                            {{ template_data.reason }}
                        </textarea>
                    </p>
                    <div class="text-start">
                        <button type="submit" class="btn bg-dark text-white">Edit Review</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock content %}